.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .red-hat-display-300{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  .red-hat-display-400{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .red-hat-display-500{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .red-hat-display-600{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .red-hat-display-900{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
.TitleLogoNavbar{
  color: rgba(255, 255, 255, 0.8);
}
.noUnderLineText{
  text-decoration: none;
  text-decoration-line: none;
}
.hoverRed :hover{
  color: red;
}
.hoverBackgroundRed :hover{
 opacity: 1.5;
}
.redLineWeb{
  background-color: red;
  height: 5px;
  width: 100%;
}
.textCentre{
  text-align: center;
}
#photoLogo{
  display: inline-flex;
  justify-content: center;
  height: auto;
  width: 100%;
}
#photoText{
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}
.logoNavbarWeb{
  height: 40px;
  width: auto;
}
.logoDimension{
  max-height: auto;
  width: 80px;
}
.BigLogoDimension{
  max-height: auto;
  width: 300px;
  display: inline-flex;
}
.logoFooterDimension{
  max-height: auto;
  width: 120px;
}
.menuNavbar{
  display: none;
}
.listNavbar{
  display: flex;
}
.blackOnTopPhoto{
  background-color: rgba(0, 0, 0, 0.6);
}
#groundPhotoBack{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/1000_F_840991625_DUwOuDdtdLRCLaNEE4eAl33XaQX6YMev.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
body{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/1000_F_840991625_DUwOuDdtdLRCLaNEE4eAl33XaQX6YMev.jpg);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  background-position: contain;
  background-size: 120%;
  scroll-behavior:smooth;
  -webkit-background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/1000_F_840991625_DUwOuDdtdLRCLaNEE4eAl33XaQX6YMev.jpg); 
  -webkit-backdrop-filter: blur(100px);
  -webkit-background-position: contain;
  -webkit-background-size: 120%;
  -webkit-background-repeat: repeat;
  -webkit-scroll-behavior:smooth;
}
#logoTop{
  max-width: 100%;
  height: auto;
}
#topText{
  color: rgba(255, 255, 255, 0.9);
  align-content: center;
}
#BackCardGard{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/photo1.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  color: rgba(255, 255, 255, 0.9);
  max-width: 100%;
  height: auto;
  text-align: center;
  border: 20px;
}
#BackCardEven{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/1000_F_7566778_ILcVcjVBUqQR60bGdOT0bkcWdKqNKwPT.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  color: rgba(255, 255, 255, 0.9);
  max-width: 100%;
  height: auto;
  text-align: center;
  border: 20px;
}
#BackCardTele{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/photo2.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  color: rgba(255, 255, 255, 0.9);
  max-width: 100%;
  height: auto;
  text-align: center;
  border: 20px;
}
#BackCardInce{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/1000_F_572616742_P5WeEyEZo7JJEDX4g9QlquaApka4iNJ0.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  color: rgba(255, 255, 255, 0.9);
  max-width: 100%;
  height: auto;
  text-align: center;
  border: 20px;
}
#BackCardCynop{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/1000_F_498334000_3Je0dQAgG2rbpWFLRIWEHXaz8va02igR.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  color: rgba(255, 255, 255, 0.9);
  max-width: 100%;
  height: auto;
  text-align: center;
  border: 20px;
}
#BackCardMaint{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/1000_F_369000996_MuIqxw0ZDjCiHnDNjNkWPaf8GRa9zluB.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  color: rgba(255, 255, 255, 0.9);
  max-width: 100%;
  height: auto;
  text-align: center;
  border: 20px;
}
.shadowBox{
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.9), 2px 2px 5px 0px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}
#ShadowInBox{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
}
header {
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}
.topNavbar {
  display: flex;
  color: rgba(255, 255, 255, 0.8);
}
.listaNavbar {
  display: flex;
}
.listaNavbar a:hover {
  color: red;
}
.goRightListaNavbar {
  margin-left: auto;
}
.menuButtonNavbar{
  display: none;
}
@media only screen and (max-width: 768px) {
  .listaNavbar,
  .topNavbar {
      flex-direction: column;
  }
  .listaNavbar {
      display: none;
  }
  .logoNavbarWeb,
  .logoDimension{
    display: none;
  }
  .goRightListaNavbar {
      margin-left: 0;
  }
  .showMenuNavbar {
      display: flex;
  }
  .menuButtonNavbar {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
  }
}
.whiteText{
  color: rgba(255, 255, 255, 0.9);
}
.cards{
  display: grid;
  grid-auto-columns: 30%;
  grid-column-gap: 20px;
  grid-auto-flow: column;
  overflow-x: scroll;
}
@media (min-width: 0px){
  .cards{
    grid-auto-columns: 80%;
    grid-column-gap: 10px
  }
}
@media (min-width: 576px){
  .cards{
    grid-auto-columns: 80%;
    grid-column-gap: 10px
  }
}
@media (min-width: 768px){
  .cards{
    grid-auto-columns: 60%;
    grid-column-gap: 20px
  }
}
@media (min-width: 992px){
  .cards{
    grid-auto-columns: 40%;
    grid-column-gap: 20px
  }
}
@media (min-width: 1200px){
  .cards{
    grid-auto-columns: 30%;
    grid-column-gap: 20px
  }
}
@media (min-width: 1400px){
  .cards{
    grid-auto-columns: 20%;
    grid-column-gap: 20px
  }
}
.card {
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  transition: all 0.2s;
}
.cards::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.4);
  height: 8px;
}
.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius:5px;
}
.cards::-webkit-scrollbar-thumb{
  background-color: red;
}
.FirstTextBox{
  background-color: rgba(0, 0, 0, 0.451);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4), 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
}
#headText{
  font-size:xx-large;
  text-align: center;
}
p{
  font-size: larger;
}
.contacteNousPhoto{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/1000_F_371581847_JJF0uBfMeHbBu4MxFTtgyeprbkDoAjlK.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
#contacteNousPhoto{
  max-width: auto;
  height: 200px;
}
#contactezNousButton{
  background-color: rgba(255,0,0,0.8);
  display: flex;
  justify-content: center;
  text-align: center;
  width: fit-content;
  height: auto;
  border-radius: 5px;
  margin-top: 100px;
}
#contactezNousButton :hover{
  zoom: 1.02;
}
#imageForm{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/1000_F_572616742_P5WeEyEZo7JJEDX4g9QlquaApka4iNJ0.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}
footer{
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  height: fit-content;
}
.listaNos{
  display: none;
  position:absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color:rgba(255, 255, 255, 0.8);
  min-width: fit-content;
  height: auto;
  border-radius: 5px;
}
.smallP{
  font-size: small;
}
.smallExP{
  font-size: x-small;
}
@media only screen and (max-width: 768px) {
  .listaNos{
    position:sticky;
  }
}
.backgroundColor{
  background-color: rgba(0, 0, 0, 0.851);
}
.redText{
  color: red;
}
.iconSize{
  max-height: 35px;
  width: auto;
}
.textBoxFit{
  text-align: justify;
}
.photoFitBox{
  height: auto;
  width: 100%;
}
.photoDark{
  filter: brightness(80%);
  border-radius: 5px;
}
